<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        CREATE NEW EVENT
    </h2>
    <a href="/">Go back</a>
    <br><br>
    <form action="/api/event/create" method="post" enctype="multipart/form-data">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" required>
        <br><br>
        <label for="description">Description: </label>
        <input type="text" name="description" id="description" required>
        <br><br>
        <label for="startTime">Start Time: </label>
        <input type="datetime-local" name="startTime" id="startTime" required>
        <br><br>
        <label for="endTime">End Time: </label>
        <input type="datetime-local" name="endTime" id="endTime" required>
        <br><br>
        <label for="venue">Venue: </label>
        <input type="text" name="venue" id="venue" required>
        <br><br>
        <label for="rules">Rules: </label>
        <input type="text" name="rules" id="rules" required>
        <br><br>
        <label for="rulesDoc">Rules Doc(url): </label>
        <input type="text" name="rulesDoc" id="rulesDoc" required>
        <br><br>
        <label for="poster">Poster Image: </label>
        <input type="file" name="poster" id="poster" accept="image/*">
        <br><br>
        <label for="gallery">Gallery Image: </label>
        <input type="file" name="gallery" id="gallery" accept="image/*" multiple>
        <br><br>
        <button type="submit">Add Event</button>
    </form>

</body>
</html>